# Configurações locais
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store  # MacOS
Thumbs.db  # Windows

# Logs
*.log

# Cache do navegador ou outros arquivos temporários
*.cache

# Diretórios que não precisam ser versionados
node_modules/  # Só se usar pacotes npm para alguma funcionalidade
dist/  # Caso tenha uma pasta de distribuição gerada por build

# Arquivos sensíveis
.env  # Caso tenha variáveis de ambiente